<a href="https://colab.research.google.com/github/JustinLin-nqu/ML_class/blob/master/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
from sklearn.datasets import load_iris
iris = load_iris()
df = pd.DataFrame(iris["data"], columns=iris["feature_names"])
df["ans"] = iris["target"]
df

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  ans
0                  5.1               3.5  ...               0.2    0
1                  4.9               3.0  ...               0.2    0
2                  4.7               3.2  ...               0.2    0
3                  4.6               3.1  ...               0.2    0
4                  5.0               3.6  ...               0.2    0
..                 ...               ...  ...               ...  ...
145                6.7               3.0  ...               2.3    2
146                6.3               2.5  ...               1.9    2
147                6.5               3.0  ...               2.0    2
148                6.2               3.4  ...               2.3    2
149                5.9               3.0  ...               1.8    2

[150 rows x 5 columns]

In [16]:
x = df.drop(["ans"], axis=1)
y = df["ans"]

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: ans, Length: 150, dtype: int64

In [22]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.1, random_state=0)
x_train, y_train

(     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
 37                 4.9               3.6                1.4               0.1
 78                 6.0               2.9                4.5               1.5
 90                 5.5               2.6                4.4               1.2
 45                 4.8               3.0                1.4               0.3
 16                 5.4               3.9                1.3               0.4
 ..                 ...               ...                ...               ...
 9                  4.9               3.1                1.5               0.1
 103                6.3               2.9                5.6               1.8
 67                 5.8               2.7                4.1               1.0
 117                7.7               3.8                6.7               2.2
 47                 4.6               3.2                1.4               0.2

 [135 rows x 4 columns], 37     0
 78     1
 90     1
 45     0
 16     0
       ..
 9      0
 103    2
 67     1
 117    2
 47     0
 Name: ans, Length: 135, dtype: int64)